body{
    background:linear-gradient(78deg,#6699dd,gray,pink);
    font-size: large;
}
table{
    border:5px solid #333;
    background:coral;
    margin:0 auto;
}
td{
    padding:10px;
}
.nuevo{
    background:green;
    color:white;
    padding:8px;
    border-radius:5%;

}
.nuevo:hover{
    background:darkgreen;
    color:white;
    text-decoration:none;
}
h2{
    color:red;
    text-align:center;
    background:lightcoral;
    width:40%;
    margin:0 auto;
    padding:20px;
    border:5px solid red;
    border-radius:30px;
    
}